@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --primary: 114, 86, 195;
    --on-primary: 255, 255, 255;
    --background: 255, 255, 255;
    --on-background: 29, 27, 32;
    --surface: 241, 236, 255;
    --on-surface: 29, 27, 32;
    --outline: 121, 116, 126;
    --sub-text: 108, 108, 108;



    /* Shad cn */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --primary: 114, 86, 195;
    --on-primary: 255, 255, 255;
    --background: 20, 20, 20;
    --on-background: 230, 224, 233;
    --surface: 38, 38, 38;
    --on-surface: 230, 224, 233;
    --outline: 147, 143, 153;
    --sub-text: 108, 108, 108;
  }

}

@layer base {
  * {
    @apply border-outline;
  }
}

/* Scrollbar */
@layer base {

  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: gray black;
  }

  /* Works on Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: gray;
    border: 0;
  }
}

/* Heading tags */
@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-Heading
  }

  h1 {
    @apply scroll-m-20 text-6xl font-bold tracking-tight
  }

  h2 {
    @apply scroll-m-20 text-5xl font-bold tracking-tight
  }

  h3 {
    @apply scroll-m-20 text-4xl font-semibold
  }

  h4 {
    @apply scroll-m-20 text-2xl font-semibold
  }

  h5 {
    @apply scroll-m-20 text-lg font-semibold
  }

}


.__viewer {
  cursor: pointer;
}